.main {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: center;
    padding: 3rem;
    min-height: 100vh;
}

.description {
    display: inherit;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
    font-family: var(--font-mono);
}

.description a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.description p {
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
}

.code {
    font-weight: 700;
    font-family: var(--font-mono);
}

.grid {
    width: var(--max-width);
    max-width: 100%;
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 400px auto 1fr;
    grid-template-areas:
    "logo description"
    "donate donate";
    column-gap: 80px;
    row-gap: 64px;
}

.card {
    position: relative;
    width: 70px;
    height: 70px;
    border: none;
}

.card:hover {
    transform: scale(1.05);
}

.cardDeleteButton {
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -15px;
    /*padding: 5px;*/
    z-index: 1;
    color: black;
}

.addCardButton {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.02);
    border: 1px dashed #d9d9d9;
    border-radius: 8px;
}

.cardDeleteButton:hover {
    transform: scale(1.1);
    color: red;
}

.center {
    max-width: var(--max-width);
    width: 100vw;
    min-height: 100%;
    /*position: relative;*/
    padding: 112px 0;
}

.centerWrapper {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0 4rem;
}

.profileDescription {
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.title {
    font-family: 'CoHeadlineCorp';
    font-size: 84px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;

}

.titleInput {
    font-size: 50px;
    font-weight: bold;
    overflow:hidden;
}

.lineBreak {
    white-space: pre-wrap;
}

.donateButton {
    grid-area: donate;
}

.payButton {
    width: 100%;
    height: 5rem;
    font-family: 'CoHeadlineCorp';
    line-height: normal;
    vertical-align: baseline;
    font-weight: bold;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    background-color: #DBFCAC;
    border-radius: 18px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin: 0;
    padding: 10px 21px;
    text-align: center;
    text-transform: none;
    transform: scale(1);
    transition: 0.125s ease;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.payButton:hover {
    transform: scale(1.01);
}

.logo {
    position: relative;
}

.logoDeleteButton {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 10px;
    zIndex: 1;
    color: red;
}

.logoDeleteButton:hover {
    transform: scale(1.1);
}

.draggerWrapper {
    width: 100%;
    height: 100%;
}

.errorBorder {
    border: 1px solid red;
    border-radius: 8px;
}


/*@media (prefers-reduced-motion) {*/
/*    .card:hover span {*/
/*        transform: none;*/
/*    }*/
/*}*/

/*!* Mobile *!*/
/*@media (max-width: 700px) {*/
/*    .content {*/
/*        padding: 4rem;*/
/*    }*/

/*    .grid {*/
/*        grid-template-columns: 1fr;*/
/*        margin-bottom: 120px;*/
/*        max-width: 320px;*/
/*        text-align: center;*/
/*    }*/

/*    .card {*/
/*        padding: 1rem 2.5rem;*/
/*    }*/

/*    .card h2 {*/
/*        margin-bottom: 0.5rem;*/
/*    }*/

/*    .center {*/
/*        padding: 8rem 0 6rem;*/
/*    }*/

/*    .center::before {*/
/*        transform: none;*/
/*        height: 300px;*/
/*    }*/

/*    .description {*/
/*        font-size: 0.8rem;*/
/*    }*/

/*    .description a {*/
/*        padding: 1rem;*/
/*    }*/

/*    .description p,*/
/*    .description div {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        position: fixed;*/
/*        width: 100%;*/
/*    }*/

/*    .description p {*/
/*        align-items: center;*/
/*        inset: 0 0 auto;*/
/*        padding: 2rem 1rem 1.4rem;*/
/*        border-radius: 0;*/
/*        border: none;*/
/*        border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);*/
/*        background: linear-gradient(*/
/*                to bottom,*/
/*                rgba(var(--background-start-rgb), 1),*/
/*                rgba(var(--callout-rgb), 0.5)*/
/*        );*/
/*        background-clip: padding-box;*/
/*        backdrop-filter: blur(24px);*/
/*    }*/

/*    .description div {*/
/*        align-items: flex-end;*/
/*        pointer-events: none;*/
/*        inset: auto 0 0;*/
/*        padding: 2rem;*/
/*        height: 200px;*/
/*        background: linear-gradient(*/
/*                to bottom,*/
/*                transparent 0%,*/
/*                rgb(var(--background-end-rgb)) 40%*/
/*        );*/
/*        z-index: 1;*/
/*    }*/
/*}*/

/*!* Tablet and Smaller Desktop *!*/
/*@media (min-width: 701px) and (max-width: 1120px) {*/
/*    .grid {*/
/*        grid-template-columns: repeat(2, 50%);*/
/*    }*/
/*}*/

/*@keyframes rotate {*/
/*    from {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*    to {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*}*/
